footer {
	background-color: rgb(26, 26, 26);
	padding-top: 90px;
	padding-bottom: 90px;
	text-align: center;
}

.footer-container {
	max-width: 1200px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.info-container {
	max-width: 800px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	row-gap: 40px;
	column-gap: 60px;
	margin: auto;
}

footer .ur-information {
	font-family: 'Nunito sans', sans-serif;
	display: inline-block;
	vertical-align: top;
	margin-left: 10px;
	margin: auto;
}

footer .ur-information img {
	width: 180px;
}

footer .ur-information p {
	font-size: 15px;
	opacity: 0.5;
	color: white;
	max-width: 270px;
	margin-top: 25px;
}

footer .ur-information p:nth-of-type(2) {
	margin-bottom: 50px;
}

footer ul {
	list-style: none;
	padding-left: 0px;
	display: inline-block;
	vertical-align: top;
}

footer li {
	padding-bottom: 15px;
}

footer li a {
	color: white;
	font-family: 'Nunito sans', sans-serif;
	text-decoration: none;
	display: inline-block;
	padding-top: 0px;
	transition: 0.5s;
}

footer .lighted {
	font-size: 18px;
	transition: 0.2s;
}

footer .lighted a:hover{
	color: #8b35b3;
}

.unlighted {
	font-family: 'Nunito sans', sans-serif;
	font-size: 25px;
	color: white;
	padding-bottom: 25px;
}

.contact-us {
	width: 190px;
	text-align: center;
	position: relative;
}

.contact-us h1:nth-of-type(1) {
	color: white;
	font-family: 'Nunito sans';
	transition: .5s;
	cursor: s-resize;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

.contact-us h1:nth-of-type(1):hover {
	opacity: .8;
}

.contact-us li:nth-of-type(1) {
	font-size: 15px;
}

.contact-us li:nth-of-type(2) i {
	background-color: #b443d8;
	border-radius: 50%;
	width: 25px;
	height: 25px;
	display: inline-block;
	margin-bottom: 10px;
}

.contact-us li:nth-of-type(2) i:first-child {
	font-size: 25px;
	margin-right: 12px;
	padding: 6px 8px;
	transition: 0.5s;
}

.contact-us .instagram:hover {
	background-color: rgb(240, 176, 97);
}

.contact-us li:nth-of-type(2) i:nth-child(2) {
	vertical-align: top;
	margin-left: 15px;
	transition: 0.5s;
}

.contact-us .facebook:hover {
	background-color: rgb(66, 88, 147);
}

.contact-us li:nth-of-type(3) i {
	transform: rotate(100deg);
	vertical-align: -1px;
}